---
import Layout from "../layouts/Layout.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
import SocialPill from "../components/icons/SocialPill.astro";
import GitHub from "../components/icons/GitHub.astro";
import Mail from "../components/icons/Mail.astro";
import Projects from "../components/Projects.astro";
import SectionContainer from "../components/SectionContainer.astro";
import CodeIcon from "../components/icons/CodeIcon.astro";
import Ubicacion from "../components/icons/Ubicacion.astro";
import Tecnologias from "../components/Tecnologias.astro";
import TecnologiasIcons from "../components/icons/TecnologiasIcons.astro";
---

<Layout title="Luis Castro - Desarrollador Backend">
  <main class="px-4">
    <SectionContainer class="py-44 pb-32" id="sobre-mi">
      <div class="flex items-center">
        <img
          class="rounded-full w-16 h-17 mb-8 mr-3"
          src="./src/components/icons/img.jpeg"
          alt="foto"
        />
        <h2
          class="text-white text-3xl font-bold flex flex-row gap-x-4 pb-10 cd:text-5xl md:text-5xl"
        >
          Luis Castro
        </h2>
      </div>
      <h2 class="text-white font-bold text-2xl opacity-80 text-wrap">
        Estudiante de Ingeniería de Software. <br /> Desarrollador Backend <br
        />
        <div class="flex items-center">
          <Ubicacion class="size-7 mr-2" />
          <span class="text-yellow-500 dark:text-red-200"
            >Guasave, Sinaloa, México</span
          >
        </div>
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/luis-castro-915515201/">
          <LinkedIn class="size-4 lg:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/luisxsssx">
          <GitHub class="size-4 lg:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="https://github.com/luisxsssx">
          <Mail class="size-4 lg:size-6" />
          cd210902@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>
    <SectionContainer id="proyectos">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-white/90"
      >
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>
    <SectionContainer id="tecnologias">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-white/90"
      >
        <TecnologiasIcons class="size-7" />
        Tecnologías
      </h2>
      <Tecnologias />
    </SectionContainer>
  </main>
</Layout>
